# Week 1 handin

# 01 Assignment
Here is the text for the assignment linked to

# 02 Status
Finished all tasks

# Iterate a list of names to return a list of the names starting with H

In [1]:
nameList = ["jens", "anders", "frederik", "hans", "hc-andersen"]
nameListH = [name for name in nameList if (name[0] =="h")]
nameListH

['hans', 'hc-andersen']

# In one line create a list of the numbers 1-100 to the power of 3

In [2]:
numberList = [number **3 for number in list(range(101))]
numberList

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

# Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

In [3]:
nameList = ["jens", "anders", "frederik", "hans", "hc-andersen"]
listTuple = [(name, len(name)) for name in nameList]
listTuple

[('jens', 4), ('anders', 6), ('frederik', 8), ('hans', 4), ('hc-andersen', 11)]

# Iterate over each character in a string and get only those that are nummeric#

In [4]:
myString = "asd45sad23"
",".join(num for num in myString if num.isnumeric())

'4,5,2,3'

# Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

In [5]:
roll_combinations = set([(d1, d2) for d1 in range(1, 7) for d2 in range(1, 7)])
roll_combinations

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

# Iterate a list of names and create a dictionary where key is the name and value is the length of the name

In [6]:
nameList = ["jens", "anders", "frederik", "hans", "hc-andersen"]
nameDict = {name : len(name) for name in nameList}
nameDict

{'jens': 4, 'anders': 6, 'frederik': 8, 'hans': 4, 'hc-andersen': 11}

# Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

In [7]:
import math
numberList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
numberDict = {number : math.sqrt(number) for number in numberList}
numberDict

{1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 8: 2.8284271247461903,
 9: 3.0,
 10: 3.1622776601683795,
 11: 3.3166247903554,
 12: 3.4641016151377544,
 13: 3.605551275463989,
 14: 3.7416573867739413,
 15: 3.872983346207417,
 16: 4.0,
 17: 4.123105625617661,
 18: 4.242640687119285,
 19: 4.358898943540674,
 20: 4.47213595499958}